# Auto detect text files and perform LF normalization
* text=auto
*.dll filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
Map[[:space:]]Game filter=lfs diff=lfs merge=lfs -text
